*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
html {
    color-scheme: dark;
}

header{
    display: flex;
    background-color: orange;
}

.logo{
    width: 100px;
}
.inicio{

}
.input{

}

.flex-container{
    display: flex;
    background-color: tan;
    width: 80%;
    height: 50vh;
}
.flex-item{
    background-color: antiquewhite ;
    color: black;
    width: 100px;
    margin: 10px;
    font-size: 50px;
}

.aside{
    display: flex;
    background-color: aquamarine;
    width: 10%;
    float: right;
    text-decoration: none;
}
footer{
    display: flex;
    background-color: orange;
    
}
.footer{
    background-color: antiquewhite;
    color: black;
    
}