*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --h1: 'Poppins', sans-serif;
    --h2: 'Poppins', 'sans-serif';
    --p: 'roboto', 'sans-serif';

}



header{
    background-color: #eeeeee;
    width: 100%;
    height: 50px;
}

header nav ul li{
    list-style-type: none;
    float: left;
}

header nav ul li{
    text-decoration: none;
    padding: 20px 15px 20px 15px;
    color: #2d3646;
    display: inline-block;
}
header nav ul li a:hover{
    color: white;
    background-color: black;
}

header ul li a{
    color: #2d3646;
    text-decoration: none;
}

body{
    background-color: #425067;
}
main{
    background-color: white;
    width: 80%;
    float: left;
    /*position: fixed;*/

}
main img{
    max-width: 100%;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}
main section {
    padding: 30px;
}
/*main section p{
    text-align: justify;
    margin-bottom: 16px;
    line-height: 1.5em;
}*/
main section h1{
    margin-bottom: 20px;
    font-size: 1.6em;
}
aside{
    width: 30px;
    float: left;
    padding: 30px;
    background-color: #25d6c8;
}
aside ul li a{
    text-decoration: none;
    color: black;
    list-style-type: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}
aside ul li :hover{
    color: #2d3646;
}
aside h2{
    margin-bottom: 16px;
}

/*article{
    background-color: #F7F3F3;
    margin: 10px;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
}*/

footer{
    width: 70%;
    background-color: #e52;
    clear: both;
    text-decoration: none;
    padding: 20px 15px 20px 15px;
    color: blue;
    display: inline-block;

}